services:
  db:
    image: postgres:14.1
    environment:
      - POSTGRES_DB=abaqus_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
    - "5432:5432"

  django:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: sh entrypoint.sh
    environment:
      DATABASE_URL=postgres://postgres:postgres@db:5432/abaqus_db
    volumes:
    - .:/app
    ports:
    - "8000:8000"
    depends_on:
    - db
    restart: on-failure